body {
  margin:0;
}

section {
  background-color: green;
  color:white;
  border: 10px solid orange;
  width:400px;
  height:400px;
  margin:0;

  position:absolute;
  top:0;
  right:0;

}

section h2 {
  color:black;
  position:absolute;
  bottom:0;
  right:0;
}
