body {
  margin:0;
}

section {
  background-color: green;
  color:white;
  border: 10px solid orange;
  width:400px;
  height:400px;
  margin:0;

  position:absolute;
  top:0;
  right:0;

}

section h2 {
  color:black;
  position:absolute;
  bottom:0;
  right:0;
}

@media all and (min-width:640px) {

  section {
    background-color:white;
    border-width:40px;
  }

  section h1 {
    color:black;
  }

}

@media all and (min-width:1025px) {


  body {
    background-color:gainsboro;
  }


}

@media all and (width:320px) {
  /*only for mobile phones*/
  section {
    background-color:red;
    width:300px;
    height:auto;
    position:relative;
  }
}
